<div ng-controller="UserController">
    <div class="container well">
        <div class="input-group">
            <label>Username: </label> <input class="form-control" ng-model="user.username" placeholder="Username..." />
        </div>
        <div class="input-group">
            <label>Password: </label> <input class="form-control" ng-model="user.password" placeholder="Password..." type="password" />
        </div>
        <br />
        <div class="input-group">
            <button class="btn btn-info" ng-click="login(user)" ng-disabled="!user.username || !user.password">Login</button>
        </div>
        <div ng-show="message">
            <span style="color: red;">{{message}}</span>
        </div>
    </div>
</div>